<mat-card
  class="example-card"
  [style.margin.px]="10"
  [style.background-color]="item.color"
  [style.color]="item.color === 'black' ? 'white' : 'black'"
>
  <mat-card-title>
    {{ item.color }}
  </mat-card-title>
  <mat-card-actions>
    <button
      id="{{ 'delete-item-button-'  + item.color}}"
      mat-raised-button
      color="primary"
      (click)="openDialog()"
    >Delete
    </button>
    <button
      id="{{ 'details-button-' + item.color }}"
      mat-raised-button
      color="accent"
      (click)="showDetails()"
    >Details
    </button>
  </mat-card-actions>
</mat-card>